[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs= "*"
beautifulsoup4= "*"
certifi= "*"
charset-normalizer= "*"
coverage= "*"
decorator= "*"
idna= "*"
iniconfig= "*"
packaging= "*"
pluggy= "*"
py= "*"
pyparsing= "*"
pytest= "*"
requests= "*"
six= "*"
soupsieve= "*"
structlog= "*"
toml= "*"
urllib3= "*"
validators= "*"

[dev-packages]

[requires]
python_version = "3.10"
